body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("imgs/background.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;
    color: #fff;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap; /* quebra para telas pequenas */
}

.box{
    display: flex;
    flex-direction: column;

    background: #ECE8E1;
    background: radial-gradient(circle, rgba(236, 232, 225, 0.45) 25%, rgba(236, 232, 225, 0.45) 25%, rgba(236, 232, 225, 0.45) 25%);

    border-radius: 12px;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

    width: 350px;
    height: 400px;

    margin-right: 15%;
    padding: 10px;

    transition: transform 0.18s ease-in-out;
}

.box:hover{
    transform: scale(1.1);
    border-radius: 10%;
    backdrop-filter: blur(2px);
}

.box h1{
    display: flex;
    justify-content: center;
    color: black;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

p {
    font-size: 1em;
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 5px;
    padding: 1px;
}

.paragrafo{
    margin-top: 4em;
}

.baixar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #ff4655;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    text-align: center;
}

.baixar:hover {
    transform: scale(1.05);
}

.baixar a{
    text-decoration: none;
    color: white;
}